#root {
  position: relative;
  width: 800px;
  height: 480px;
  background-color: #737174;
  overflow: hidden;
}
div,
p {
  color: white;
  float: left;
}
.button {
  position: relative;
  float: left;
  display: block;
  top: 0px;
  width: 110px;
  height: 55px;
  margin: 5px;
  background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 59%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  color: white;
}
